{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<main> {{ range (.Paginator 5).Pages}}
  <section>
    <h3><a class="post-title-link" href="{{ .Permalink }}">{{ .Title }}</a></h3>{{ if isset .Params "tags" }}
        <div>
            {{ range .Params.tags }}
            <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
            {{ end }}
        </div>
    <div class="content">
      <p>{{.Summary}}</p>
    </div>
  </section>{{ end }}
{{ partial "footer.html" . }}